
<div class="container mt-5">
	<div class="row">
		<section class="col-md-4">
			
			<div class="d-flex align-items-center mb-5">
				<div *ngIf="projectservice.projectDetail.name" class="avatar-sm no-photo-pink mr-3">{{ projectservice.projectDetail.name.charAt(0) }}</div>
				<h4 class="title-highlited mb-0">{{ projectservice.projectDetail.name }}</h4>
			</div>
			<div class="mb-3">
				<label class="small text-muted">Description</label>
				<p>{{ projectservice.projectDetail.description }}</p>
			</div>
			<div class="mb-3">
				<label class="small text-muted">Date stated</label>
				<p>{{ projectservice.projectDetail.date_created | date:'mediumDate' }}</p>
			</div>
			<div class="mb-3">
				<label class="small text-muted">Pending Issues</label>
				<p class="text-danger"> {{projectservice.ProjectBlockers.length}} Issues pending
					<a href="" class="text-danger ml-2">
						<i class="fal fa-external-link"></i>
					</a>
				</p>
			</div>
		</section>

		<section class="feed-section col-md-7">
			<h5 class="mb-4 subtitle">Weekly Reports</h5>
			<div class="feed-actions">
				<div class="date-selector">
					<a href="" class="arrow" (click)="previousWeek($event)">
						<i class="far fa-long-arrow-alt-left"></i>
					</a>
					<div ngbDropdown autoClose="outside" class="date-selected">
						<div ngbDropdownToggle>
							{{standupservice.dateData.dateStart | date:'EEE, MMMM d' }} - {{standupservice.dateData.dateEnd | date:'EEE, MMMM d' }}
						</div>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1" autoClose="false">
							<ngb-datepicker [startDate]="{year: standupservice.dateData.dateEnd.getFullYear(), month: standupservice.dateData.dateEnd.getMonth() + 1}" 
							(select)="onDateSelect($event)"></ngb-datepicker>
						</div>
					</div>
					<a href="" class="arrow" (click)="nextWeek($event)">
						<i class="far fa-long-arrow-alt-right"></i>
					</a>	
				</div>
				<div class="feed-data-options ">
					<button class="btn mr-2">
						<i class="fas fa-print"></i>
					</button>
					<button class="btn">
						<i class="fas fa-download"></i>
					</button>
				</div>
			</div>

			<div class="feed-limited" (scroll)="scrollWeeklyReport($event)" [scrollTop]="standupservice.scrollHeight">							
				<div class="feed-card card" *ngFor="let card of standupservice.q">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex">
							<div class="avatar-sm" style="background-image: url('assets/images/tamara-bellis-401355-unsplash.jpg');" data-rjs="3">
							</div>
							<div class="profile-info">
								<a href="">{{card.user.full_name}}</a>
								<span class="d-flex align-items-center justify-content-around">
									<span>{{ card.date_created | date:'MMM d, h:mm a' }}</span>
									<i *ngIf="card.blockers.length" class="fas fa-circle"></i>
									<span *ngIf="card.blockers.length" class="text-danger">{{card.blockers.length}} issues</span>
								</span>
							</div>
						</div>
						<p class="feed-summary">{{card.total_hours}} hours for 
							<a href="">#{{ projectservice.projectDetail.name }}</a>
						</p>
						<a uiSref="project-detail-report" [uiParams]="{id: projectservice.projectDetail.id,cardId: card.id}"><i class="fas fa-expand-alt"></i></a>
					</div>
					<div class="issues pt-4" *ngIf="card.blockers.length">
						<div class="d-flex justify-content-between">
							<small><strong>Blockers</strong></small>
							<small>
								<strong>
									<span *ngIf="card.finished_issues != 0" class="text-success">{{card.finished_issues}} resolved </span>
									&nbsp; &nbsp; 
									<span *ngIf="card.pending_issues != 0" class="text-danger">{{card.pending_issues}} unresolved</span>
								</strong>
							</small>
						</div>
						<ol class="pl-3 issues-list" >
							<div *ngFor="let blocker of card.blockers">
								<li class="issue-details resolved" *ngIf="blocker.is_fixed">
									<p>
										{{ blocker.content }}
									</p>
									<a href=""><small>{{ blocker.reference }}</small></a>
								</li>
								<li class="issue-details unresolved" *ngIf="!blocker.is_fixed">
									<p>
										{{ blocker.content }}
									</p>
									<a href=""><small>{{ blocker.reference }}</small></a>
								</li>
							</div>
						</ol>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>