<div class="container mt-3">
	<div class="row ml-3">
		<section class="col-md-4">
			<div class="d-flex align-items-center mb-2">
				<a uiSref="projects" class="h4">
					<i class="far fa-arrow-left mr-3 small"></i>
					<span><b>Back</b></span>
				</a>
			</div>
			<div class="d-flex align-items-center mb-3">
				<div *ngIf="projectservice.projectDetail.name" class="Rectangle-19 mr-3">{{ projectservice.projectDetail.name.charAt(0) }}</div>
				<h4 class="title-highlited mb-0">{{ projectservice.projectDetail.name }}</h4>
			</div>
			<div class="mb-3">
				<label class="small text-muted">Description</label>
				<p>{{ projectservice.projectDetail.description }}</p>
			</div>
			<div class="mb-3">
				<div class="row">
					<div class="col-sm-5">
						<label class="small text-muted">Date stated</label>
						<p>{{ projectservice.projectDetail.date_created | date:'mediumDate' }}</p>
					</div>
					<div class="col-sm-5">
						<label class="small text-muted">Total hours spent</label>
						<p>{{projectservice.projectDetail.total_hours}} hours</p>
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="small text-muted">Pending Issues</label>
				<p class="text-danger"> {{projectservice.ProjectBlockers.length}} Issues pending
					<a href="" class="text-danger ml-2">
						<i class="fal fa-external-link"></i>
					</a>
				</p>
			</div>
			<div class="mb-3">
			    <div class="team-members d-flex">
					<div class="avatar-xs" style="background-image: url('assets/images/tamara-bellis-401355-unsplash.jpg');" data-rjs="3">
					</div>
					<div class="avatar-xs ml-2" style="background-image: url('assets/images/tamara-bellis-401355-unsplash.jpg');" data-rjs="3">
					</div>
					<div class="avatar-xs ml-2" style="background-image: url('assets/images/tamara-bellis-401355-unsplash.jpg');" data-rjs="3">
					</div>
					<div class="avatar-xs ml-2" style="background-image: url('assets/images/tamara-bellis-401355-unsplash.jpg');" data-rjs="3">
					</div>
					<div class="avatar-xs more ml-2">
					+7
					</div>
				</div>
			</div>
		</section>

		<section class="feed-section col-md-7 mt-5">
			<h5 class="mb-4 subtitle">Weekly Reports</h5>
			<div class="feed-actions">
				<div class="date-selector">
					<a href="" class="arrow" (click)="previousWeek($event)">
						<i class="far fa-long-arrow-alt-left"></i>
					</a>
					<div ngbDropdown autoClose="outside" class="date-selected">
						<div ngbDropdownToggle>
							{{standupservice.dateData.dateStart | date:'EEE, MMMM d' }} - {{standupservice.dateData.dateEnd | date:'EEE, MMMM d' }}
						</div>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1" autoClose="false" style="padding-top: 0px; padding-bottom: 0px">
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex">
									<div style="width: 160px">
										<ul class="list-group list-group-flush">
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByDays($event, 0)">
											Today</button>
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByDays($event, 1)">
											Yesterday</button>
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByDays($event,6)">
											Last 7 Days</button>
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByDays($event,30)">
											Last 30 Days</button>
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByMonth($event,0)">
											This Month</button>
											<button type="button" class="list-group-item list-group-item-action"
											(click)="FilterByMonth($event,1)">
											Last Month</button>
											<button type="button" class="list-group-item list-group-item-action">
											Custom Range</button>
										</ul>
									</div> 
									<ngb-datepicker #dp (select)="onDateSelection($event)" 
									[displayMonths]="2"
									[startDate]="{year: standupservice.dateData.dateStart.getFullYear(), 
									month: standupservice.dateData.dateStart.getMonth() + 1}"
									[dayTemplate]="t" 
									[navigation]="arrows"
									[footerTemplate]="footerTemplate"
									outsideDays="hidden">
									</ngb-datepicker>

									<ng-template #t let-date let-focused="focused">
									<span class="custom-day"
											[class.focused]="focused"
											[class.range]="isRange(date)"
											[class.faded]="isHovered(date) || isInside(date)"
											(mouseenter)="hoveredDate = date"
											(mouseleave)="hoveredDate = null">
										{{ date.day }}
									</span>
									</ng-template>
									
								</div>
							</div>
							<ng-template #footerTemplate>
								<hr class="my-0">
								<button class="btn btn-secondary btn-sm m-2 float-right" (click)="ApplyDateFilter($event)" 
								[disabled]="!ApplyFilterChange">Apply</button>
							</ng-template>
						</div>
					</div>
					<a href="" class="arrow" (click)="nextWeek($event)">
						<i class="far fa-long-arrow-alt-right"></i>
					</a>	
				</div>
				<div class="feed-data-options ">
					<button class="btn">
						<i class="fas fa-download"></i>
					</button>
				</div>
			</div>

			<div class="feed-limited" (scroll)="scrollWeeklyReport($event)" [scrollTop]="standupservice.scrollHeight">							
				<div class="feed-card card" *ngFor="let card of standupservice.q">
					<div class="card-content--container" >
						<div class="d-flex">
							<div class="report-info">
							<div class="d-flex align-items-center justify-content-between mb-3">
								<div class="d-flex align-items-center">
								<a uiSref="project-detail-report" [uiParams]="{id: projectservice.projectDetail.id,cardId: card.id}">{{projectservice.projectDetail.name}}</a>
								<span class="badge badge__report">Report</span>
								<span class="timestamp"> {{ card.date_created | date:'MMM d, h:mm a' }}</span>
								</div>
								<div class="feed-summary">
									<p class="hours badge" [innerHtml]="card.total_hours | timeformat"></p>
								</div>
							</div>
							<div class="report-content">
								<small class="report-type">Done</small>
								<div class="d-flex">
								<p class="report-hint">{{ card.done | getornull: "0" }}</p>
								<span *ngIf="card.done.length > 0" class="content-count">+{{ card.done.length }}</span>
								</div>
							</div>
							<div class="report-content">
								<small class="report-type">Todo</small>
								<div class="d-flex">
								<p class="report-hint">{{ card.todo | getornull: "0" }}</p>
								<span *ngIf="card.done.length > 0" class="content-count">+{{ card.todo.length }}</span>
								</div>
							</div>

							
							<span *ngIf="card.blockers.length === 0" class="no-issue">No Issues</span>
							<span *ngIf="card.blockers.length > 0" class="with-issues">{{ card.pending_issues }} pending issue{{ card.blockers | pluralize }}</span>
							
							</div>
						</div>
						
						<div *ngIf="card.blockers.length > 0" class="details pt-2">
						<div class="d-flex justify-content-between">
							
						</div>
						<ol class="pl-3 details-list">
							<li class="issue-details" [ngClass]="{'resolved': b.is_fixed, 'unresolved': !b.is_fixed}" *ngFor="let b of card.blockers">
							<p>{{ b.content }}</p>
							<a [href]="b.reference | sanitizeurl" [target]="_blank"><small>{{ b.reference }}</small></a>
							</li>
						</ol>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>
</div>