.side-menu {
    padding: torem(50) torem(30);
    width: torem(254);
    position: relative;
    height: 100vh;
    bottom: 0;
    top: 0;
    border-right: solid 1px #f0f0f0;
    background-color:#232C50;

    ul {
        margin-top: torem(44);

        li {
            margin-bottom: torem(40);

            @include flex-align-center();
            @include justify-content(space-between);

            a {
                font-family: $Display-Medium;
                font-size: $h6;
                color: $primary-text;
                @include flex-align-center();
                letter-spacing: -.20px;

                i {
                    font-size: $h6;
                    margin-right: 10px;
                    font-size: 120%;
                }

                &.active {
                    color: $white !important;

                    font-family: $Display-Bold;
                }
            }

            .count {
                width: 20px;
                height: 20px;
                background-color: $primary;
                color: $white;
                @include justify-align-center();
                @extend .circle;
                font-size: $xsmall;
            }
        }
    }
}
