.payroll-wrapper {
    padding: 0 torem(50);
}
.payslip-list {
	padding-bottom: 3rem;
    .nav-list-style-1 {
        overflow-y: auto;
        max-height: calc(100vh - 10rem);
        height: 100%;
        @include scrollbar(4px, $blue-grey, $muted, 2px, 0);
        padding-bottom: 3rem;
        padding-right: 1rem;
    }

}

.payslip-preview-container {
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
    @include scrollbar(0px, $blue-grey, $muted, 2px, 0);
    padding: torem(50) 1.5rem;

    .payslip-preview {
        width: 100%;
        height: 100%;
        max-width: torem(631);
        border-radius: 20px;
        box-shadow: 0 10px 30px 0 rgba(116, 133, 150, 0.11);
        background: $white;
        padding: 10%;

        .salary-breakdown-table {
            width: 100%;

            thead {
                border-bottom: solid 1px $light-border;

            }

            tbody {
                padding-top: 1rem;
                border-bottom: solid 1px $light-border;

                tr {
                    td {
                        p {
                            font-family: $Text-Medium;
                            color: $black;

                            span {
                                margin-left: 2rem;
                                color: $primary-text;
                            }
                        }
                    }
                }
            }
        }

        .summary {
            border-bottom: solid 1px $light-border;
        }
    }
}