<nav class="center-nav">
  <div class="d-flex justify-content-between w-100">
    <h2 *ngIf="!nav.config.noClass" class="section-title">{{ nav.config.title }}</h2>
    <p *ngIf="nav.config.noClass">{{ nav.config.title }}</p>

    <div class="search-input input-group">
      <div class="input-group-prepend">
        <span class="input-group-text filter-toggle">Show Filters</span>
      </div>
      <input type="text" name="" class="form-control" placeholder="Search anything">
      <div class="input-group-append">
        <span class="input-group-text">
          <a href="" class="filter-toggle">
            <i class="fal fa-search ml-1"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="profile-dropdown" ngbDropdown>
    <div class="profile-info">
      <p>{{ auth.user.first_name }} {{ auth.user.last_name }}</p>
      <span>{{ auth.user.position }}</span>
    </div>
    <a href="" prevdefault ngbDropdownToggle>
      <div class="avatar-sm" [ngStyle]="{'background-image': 'url(' + auth.user.image + ')'}"></div>
    </a>
    <div ngbDropdownMenu>
      <a uiSref="user-settings" class="dropdown-item">
        <i class="far fa-cog"></i>
        <span>
          Account Settings
          <small class="text-muted">{{ auth.user.email }}</small>
        </span>
      </a>
      <a uiSref="logout" class="dropdown-item">
        <i class="far fa-arrow-alt-right"></i>
        Log out
      </a>
    </div>
  </div>
</nav>