<aside class="side-menu">
  <div class="brand">
    <a href="index.html">
      <img src="/static/images/logo.png"
           srcset="/static/images/logo@2x.png 2x,
                   /static/images/logo@3x.png 3x"
           class="logo">
    </a>
  </div>
  <nav>
    <ul class="list-unstyled">
      <li>
        <a uiSref="dashboard" class="active">
          <i class="fal fa-gem"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="">
          <i class="fal fa-inbox"></i>
          Inbox
        </a>
        <span class="count">1</span>
      </li>
      <li>
        <a uiSref="projects">
          <i class="fal fa-paste"></i>
          Projects
        </a>
      </li>
      <li>
        <a uiSref="payroll">
          <i class="fal fa-gift"></i>
          Payroll
        </a>
      </li>
    </ul>
  </nav>
</aside>