<div class="monthly-calendar">
  <h6 class="mb-2">Calendar</h6>
  <div class="calendar-header">
    <span>S</span>
    <span>M</span>
    <span>T</span>
    <span>W</span>
    <span>T</span>
    <span>F</span>
    <span>S</span>
  </div>
  <div class="currentMonth" id="datesAccordion">
    <div class="weekview" id="currentWeek">
      <span>1</span>
      <span class="today">2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
    </div>
    <div class="wholeMonth collapse" id="wholeMonth" aria-lablledby="currentWeek" data-parent="#datesAccordion">
      <div class="weekview">
        <span>8</span>
        <span>9</span>
        <span>10</span>
        <span>11</span>
        <span>12</span>
        <span>13</span>
        <span>14</span>
      </div>
      <div class="weekview">
        <span>15</span>
        <span>16</span>
        <span>17</span>
        <span>18</span>
        <span>19</span>
        <span>20</span>
        <span>21</span>
      </div>
      <div class="weekview">
        <span>22</span>
        <span>23</span>
        <span>24</span>
        <span>25</span>
        <span>26</span>
        <span>27</span>
        <span>28</span>
      </div>
      <div class="weekview">
        <span>29</span>
        <span>30</span>
        <span>31</span>
        <span class="idleDay">1</span>
        <span class="idleDay">2</span>
        <span class="idleDay">3</span>
        <span class="idleDay">4</span>
      </div>
    </div>
    <a href="" class="calendar-expander" data-toggle="collapse" data-target="#wholeMonth" aria-expanded="true" aria-controls="wholeMonth"><i class="fal fa-angle-double-down"></i></a>
  </div>
</div>