<div class="monthly-calendar">
  <h6 class="mb-2">Calendar</h6>
  <div class="calendar-header">
    <span>S</span>
    <span>M</span>
    <span>T</span>
    <span>W</span>
    <span>T</span>
    <span>F</span>
    <span>S</span>
  </div>
  <div class="currentMonth" id="datesAccordion">
    <div class="weekview" id="firstWeek">
      <span *ngFor="let date of firstWeek" [ngClass]="{'idleDay': date.getMonth() !== month, 'today': date.getDate() === today}">{{date.getDate()}}</span>
    </div>
    <div class="wholeMonth" id="wholeMonth" aria-lablledby="firstWeek" data-parent="#datesAccordion" [ngbCollapse]="isCollapsed">
      <div class="weekview" *ngFor="let week of weeks.slice(1)">
        <span *ngFor="let date of week" [ngClass]="{'idleDay': date.getMonth() !== month, 'today': date.getDate() === today}">{{date.getDate()}}</span>
      </div>
    </div>
    <a href="" prevdefault class="calendar-expander" (click)="isCollapsed = !isCollapsed" 
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="wholeMonth">
      <i class="fal" [ngClass]="{'fa-angle-double-down': isCollapsed, 'fa-angle-double-up': !isCollapsed}"></i>
    </a>
  </div>
</div>