#{$avatar} {
    border-radius: 50%;
    @include justify-align-center();
    font-family: $Display-Semibold;
    background: {
        size: cover;
        position: center;
    }
}

.avatar{
  &-xs{
    width: torem(30);
    height: torem(30);
  }
	&-sm{
		width: 40px;
		height: 40px;
	}


  &-md{
    width: torem(100);
    height: torem(100);
  }


}

.more {
    color: $primary;
    font-family: $Text-Medium;
    @include justify-align-center();
    font-size: small;
    span {
        line-height: 0.5;
        display: block;
    }
}

.no-photo{


	&-pink{
		@include badge-pill-mono($pink,15%);
	}
	&-success{
		@include badge-pill-mono($success,35%);
	}
	&-primary{
		@include badge-pill-mono($primary,35%);
	}
	&-orange{
		@include badge-pill-mono($orange,35%);
	}
}
