.feed-section {
  .feed-card {
    margin-top: torem(25);
    margin-bottom: torem(25);

    .card-content--container {
      width: 100%;

      .report-info {
        text-align: left;
        margin-left: torem(15);
        width: 100%;

        .project-name {
          font-size: $h6;
          font-family: $Text-Semibold;
          margin-bottom: 0.2rem;
          color: $black;
          letter-spacing: -0.4px;
          text-transform: capitalize;

        }

        .timestamp {
          @extend .xsmall;
          color: $muted;
          font-family: $Text-Regular;
        }

        .badge {
          margin: 0 10px;

        }

      }

      .no-issue {
        font-size: $small;
        font-family: $Text-Bold;
        color: #818396;
      }

      .with-issues {
        color: $danger;
        font-size: $small;
        font-family: $Text-Bold;
      }

    }

    .details {
      padding-left: 1rem;
      padding-right: 1rem;

      &-list {
        color: $black;  
        li {
          p {
            
            margin-bottom: 0;
          }
        }
      }
    }

    .feed-summary {
      text-align: right;

      .hours {
        letter-spacing: -0.3px;
        color: $primary;
        font-family: $Text-Bold;
        font-size: $small;
        
      }
    }

    .report-content {
      @include flexbox();
      @include align-items(flex-start);

      .report-type {
        font-size: $small;
        color: $black;
        font-family: $Text-Medium;
        width: torem(60);
      }

      .report-hint {
        max-width: torem(460);
        height: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $black;
        margin-bottom: 0.5rem;

      }

      .content-count {
        @extend .badge;
        background: #f2f3f5 !important;
        color: $black;
        font-family: $Text-Bold;
        display: table;
      }
    }

  }

  .feed-limited {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    @include scrollbar(4px, $blue-grey, $muted, 2px, 0);
    margin-top: 2rem;
    padding-right: 0.5rem;
  }

}

.card {
  padding: torem(20);
  background: #fafafa;
  border-radius: 2px;
  border: none;
  background-color: #fafafa;
}

.card-title {
  color: $black;
  font-family: $Text-Medium;
}

.event-participants {
  
}

.feed-actions {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);

  .date-selector {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    max-width: torem(387);

    .arrow {
      background: $white;
      width: torem(44);
      height: torem(44);
      @extend .circle;
      @include justify-align-center();
      font-size: $h4;
      border: solid 1px $light-border;
      margin-bottom: 0;
    }

    .date-selected {
      border: solid 1px $light-border;
      color: $primary-text;
      letter-spacing: -0.3px;
      border-radius: 50px;
      font-size: $paragraph;
      background: $white;
      padding: torem(13) torem(24);
      @include justify-align-center();
      margin: 0 1rem;
    }
  }


}

.feed-data-options {
  @include flexbox();

  button {
    font-size: $paragraph;
    color: $black;
    @include justify-align-center();
    border-radius: 6px;
    background: $white;
    width: torem(44);
    height: torem(44);
    border: solid 1px $light-border;

    &.btn-sm {
      width: torem(30);
      height: torem(30);
      font-size: torem(11);
    }
  }
}


//report badges

.badge {
  font-family: $Text-Bold;
  background:#f2f3f5;
  font-size: $xsmall;
  letter-spacing: -0.3px;
  padding: 4px 5.5px;

  &__report {
    background: $cyan;
    @extend .badge;
    color: $white;
  }
}
