.navbar {
  border-bottom: 1px solid #ccc;

  &-brand {
  }

  &-search {

  }

  &-nav {
    flex-direction: row;
    justify-content: space-between;
    min-width: 24%;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          margin-right: 4px;
        }
      }
    }
  }

  &-user {
    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      padding: 8px 16px;
      width: 10rem;
      border-radius: 4px;
      box-shadow: none;

      .image {
        background-size: cover;
        background-position: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

}