.section-title {
    font-family: $Text-Bold;
    color: $black;
}
.title-bold{
	font-family: $Display-Bold;
	color: $black;
}

.subtitle {
    font-family: $Display-Medium;
    color: $black;
}
.text-medium{
    font-family: $Text-Medium;
}

.pane-title {
    font-family: $Text-Medium;
    color: $black;
}

.title-highlited {
    font-family: $Display-Medium;
    color: $accent-color;
}
.text-highlited {
    font-family: $Text-Medium;
    color: $accent-color;
}
