<div class="container mt-3">
  <div class="row">

    <section class="left">
      <div class="feed">
        <h5>Recent news</h5>

        <div class="item">
          item 1
        </div>

        <div class="item">
          item 1
        </div>

        <div class="item">
          item 1
        </div>

        <div class="item">
          item 1
        </div>

        <div class="item">
          item 1
        </div>

      </div>
    </section>

    <section class="right">
      <div class="calendar">
        <h5>Calendar</h5>
      </div>

      <div class="stats">
        <h5>Statistics</h5>
      </div>
    </section>

  </div>
</div>