<div class="container pt-5 payroll">

  <section class="payroll-list">
    <app-payroll-list></app-payroll-list>
  </section>

  <section class="payroll-detail" *ngIf="state.params.id">
    <p>Name : {{ payroll.user.first_name }} {{ payroll.user.last_name }}</p>
    <p>Email: {{ payroll.user.email }}</p>
    <p>Job : {{ payroll.user.position }}</p>
    <p>Date: {{ payroll.date_from }} to {{ payroll.date_to }}</p>
    <p>Payroll number: {{ payroll.id }}</p>

    <table>
      <thead>
        <tr>
          <th style="width: 145px">Items:</th>
          <th>Amount:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gross Amount:</td>
          <td>{{ payroll.gross_pay }}</td>
        </tr>
        <tr>
          <td>Deductions:</td>
          <td>
            <div *ngFor="let d of payroll.user.deductions">
              {{ d.name }} : {{ d.ee }}
            </div>
            <div *ngFor="let d of payroll.user.plans">
              {{ d.name }} : {{ d.monthly_ammort }}
            </div>
          </td>
        </tr>

        <tr>
          <td>Total Deductions:</td>
          <td>{{ payroll.total_deduction }}</td>
        </tr>
        <tr>
          <td>Net Amount:</td>
          <td>{{ payroll.net_pay }}</td>
        </tr>
        <tr>
          <button (click)="downloadPDF()"> Download PDF </button>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="payroll-detail" [hidden]="state.params.id">
    No payroll atm..
  </div>

</div>