<main class="container-fluid main-container p-0">
  <ui-view name="sidemenu"></ui-view>

  <div class="content-wrapper">

    <ui-view name="navigation"></ui-view>
    <ui-view name="content"></ui-view>
    
  </div>
  
  <!-- SIDE MODALS -->

  <aside class="side-modal">
    <a class="closeModal">
      <i class="fal fa-times"></i>
    </a>
    <div class="report-feed">
      <div class="mb-4">
        <div class="mb-4 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="pane-title mb-0">Monday</h5>
            <label class="text-muted"><small>January 23, 2019</small></label>
          </div>
          <a href="#" class="">View report summary <i class="fal fa-long-arrow-right ml-2"></i></a>
        </div>
        <div class="d-flex">
          <div class="mr-5">
            <h6 class="mb-0 pane-title">#cl-Designs</h6>
            <label class="text-danger"><small>2 Pending Issues</small></label>
          </div>
          <div class="text-left">
            <h6 class="mb-0 d-block pane-title">Hours:  <span>8</span></h6>
            <label class=" text-muted"><small>as of 6:45 PM</small></label>
          </div>
        </div>
      </div>
      <div class="report-table">
        <table id="doneTable">
          <thead>
            <tr>
              <th width="80%">Worked on</th>
              <th width="10%">Reference</th>
              <th width="10%">Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur 
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
                <p>2</p>
              </td>
            </tr>
            
            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
                <p>2</p>
              </td>
            </tr>
          </tbody>
        </table>
        <table id="todoTable">
          <thead>
            <tr>
              <th width="80%">To do</th>
              <th width="10%">Reference</th>
              <th width="10%">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur 
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
              </td>
            </tr>

            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <table id="issuesTable">
          <thead>
            <tr>
              <th width="80%">Issues</th>
              <th width="10%">Reference</th>
              <th width="10%">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur 
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
                <span class="issue-status-mark unresolved"></span>
              </td>
            </tr>

            <tr>
              <td>
                <p class="report-name">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                </p>
              </td>
              <td>
                <a href="">
                  <i class="fal fa-external-link"></i>
                </a>
              </td>
              <td>
                <span class="issue-status-mark unresolved"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </aside>

  <aside class="search-filter">
    <div class="d-flex justify-content-between mb-3">
      <label>Filters</label>
      <small class="text-muted">
        <i class="far fa-circle-notch"></i>
        Applying Filters
      </small>
    </div>
    <div class="mb-5">
      <label class="section-title d-block">Inclusive Dates</label>
      <div id="reportrange" class="date-range-picker form-control">
          <span></span>
      </div>
      
    </div>
    <div class="form-check pl-0 mb-5">
      <input type="checkbox" name="" id="project">
      <label class="text-medium">Projects</label>
      
      <ul class="list-unstyled">
        <li>
          <div class="form-check">
            <input type="checkbox" name="" id="project">
            <label>Current Projects</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input type="checkbox" name="" id="project">
            <label>Archived Projects</label>
          </div>
        </li>
        <li>
          <div class="pl-3">
            <label class="section-title d-block">Selected Projects</label>
            <select class="selectpicker form-control"  multiple id="selectProject">
              <option>All Projects</option>
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>

          </div>
        </li>
      </ul>
    </div>
    
    <div class="form-check pl-0 pb-5">
      <input type="checkbox" name="" id="project">
      <label class="text-medium">Task Status</label>
      <ul class="list-unstyled">
        <li>
          <div class="form-check">
            <input type="checkbox" name="" id="project">
            <label>Done</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input type="checkbox" name="" id="project">
            <label>To Do</label>
          </div>
        </li>
        <li>
          <div class="form-check">
            <input type="checkbox" name="" id="project">
            <label>Issues</label>
          </div>
          <ul class="list-unstyled">
            <li>
              <div class="form-check">
                <input type="checkbox" name="" id="project">
                <label>Pending</label>
              </div>
              <div class="form-check">
                <input type="checkbox" name="" id="project">
                <label>Resolved</label>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button class="btn-light btn mr-4">Clear</button>
      <button class="btn-primary btn filter-toggle">Close</button>
    </div>
  </aside>
  
  <!-- SIDE MODALS -->
</main>